.page__movies {
    width: calc(100% - 140px);
    margin: 80px auto 160px;
}

.movies__btn {
    display: block;
    margin: 76px auto 0;
    padding: 11px 0 9px;
    background-color: transparent;
    border: 1px solid #424242;
    border-radius: 6px;
    color: #fff;
    max-width: 320px;
    width: 100%;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .page__movies {
        width: calc(100% - 60px);
    }

    .movies__btn {
        margin: 60px auto 0;
    }
}

@media screen and (max-width: 600px) {
    .page__movies {
        width: calc(100% - 20px);
    }

    .movies__btn {
        max-width: 240px;
    }
}