.content {
    width: 100%;
}

.heading {
    font-size: 22px;
    line-height: 26.63px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px #DADADA solid;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
    .heading {}
}


@media screen and (max-width: 600px) {
    .heading {
        font-size: 18px;
        line-height: 21.78px;
        padding-bottom: 28px;
    }
}